// 主题色
$baseColor: #55B7FF;
// 主题色系按钮
$btnBaseColor: $baseColor;
$btnBaseHover: #1997F3;
$btnBaseActive: #0084E4;
// 基础色
$disabledColor: #9B9B9B;
$disabledTextColor: #C9C9C9;
$fontColor:#575757;
$fontHover: #333;
$titleColor: #333;
$contentColor: #666;
$wordColor: #999;
$borderColor: #e6e6e6;
$backColor: #f2f2f2;
$whiteColor: #fff;
$redColor: #FF5722;
$orangeColor: #FFB800;
$greenColor: #009688;
$cyanColor: #2F4056;
$blueColor: #1E9FFF;
$blackColor: #393D49;
$grayColor: #eee;
// a标签，链接文字的颜色
$aTagColor: #333;
$aTagHover: #777;
// 三角形边框颜色
$edgeBorderColor: $borderColor;
// 后台框架配色
$adminHeaderBackColor: #23262E;
$adminFooterBackColor: #eee;
// 引用
$quoteBorderColor: $baseColor;
$quoteBackColor: $backColor;
// 进度条
$progressBaseBackColor: $backColor;
$progressBarBackColor: $baseColor;
$progressTextColor: $fontColor;
$progressBigTextColor: $whiteColor;
// 折叠面板
$collaTitleColor: $titleColor;
$collaTitleBackColor: $backColor;
$collaContentColor: $contentColor;
// 卡片面板
$cardBackColor: $whiteColor;
$cardTextColor: $titleColor;
$cardBordeColor: $backColor;
// 窗口面板
$windowBackColor: $whiteColor;
$windowBorderColor: $backColor;
// 按钮
$btnPrimaryColor: #F6F6F6;
$btnPrimaryBorder: #DFDFDF;
// 表单
$formBack: $whiteColor;
$formHover: #D2D2D2;
$formFocus: #C9C9C9;
$formDanger: $redColor;
// 下拉选择
$formSelectEdgeBorder: #c2c2c2;
$formSelectDlBorder: #d2d2d2;
$formSelectDlBack: $whiteColor;
$formSelectDtText: $wordColor;
$formSelectDdHoverBack: $backColor;
$formSelectDdText: $wordColor;
$formSelectDdThisText: $whiteColor;
$formSelectDdThisBack: $baseColor;
$formSelectDdDisabledBack: $whiteColor;
$formSelectNoneText: $wordColor;
$formSelectDisabledBorder: $grayColor;
$formSelectDisabledEdgeBorder: $backColor;
// 复选框
$checkboxColor: $baseColor;
$checkboxBorderColor: #d2d2d2;
$checkboxBorderHoverColor: #c2c2c2;
$checkboxDisabledColor: #e2e2e2;
$checkboxBack: $whiteColor;
// 单选框
$radioColor: $baseColor;
$radioDisabledColor: #e2e2e2;
$radioBorderHoverColor: #c2c2c2;
$checkboxBack: #FBFBFB;
// 富文本编辑器
$editBorder: #e2e2e2;
$editIconColor: #777;
$editIconHoverColor: #393D49;
$editIconActiveColor: #000;
$editIconActiveBack: #e2e2e2;
$editIconDisabledColor: #d2d2d2;
// 分页
$pageColor: $baseColor;
$pageBorderColor: #e2e2e2;
$pageBackColor: $whiteColor;
$pageTextColor: #333;
$pageContentColor: #999;
// 流加载
$flowColor: #999;
$flowCiteColor: #333;
$flowCiteBackColor: #eee;
$flowIColor: #737383;
// 表格
$tableBackColor: $whiteColor;
$tableTextColor: $contentColor;
$tableClickColor: $backColor;
$tableBorderColor: $borderColor;
$tableSortColor: #000;
$tableSortBorderColor: #b2b2b2;
$tableSortHoverColor: #666;
$tableLinkColor: $baseColor;
$tableNoneColor: #999;
$tableEditColor: #c9c9c9;
$tableEditHoverColor: $baseColor;