@charset "utf-8";
/*
 * 尺寸
*/

// 页面
$bodyPadding: 20px; // body 的内边距
$containerPadding: 20px; // 容器内边距
// 表单
$inputHeight:34px; //input的高度
$inputWidth: 300px; //非自适应input宽度
$adapInputRight: 15px; // 自适应input距离右侧距离
// 圆角
$radiusSize: 2px;
/*
 * 主题文件
*/

// @import './theme-blue.scss';
@import './theme-green.scss';
// @import './theme-dark.scss';