$baseColor: #188FFF; // 主题色
$hoverColor: #40A9FF; // 主题色悬浮色
$activeColor: #096DD9; // 主题色点击色
$backgroundColor: #F2F6F8; // 页面背景色
$containerBackgroundColor: #FFFFFF; // 容器背景颜色
// 按钮如果没有悬浮和点击效果，悬浮时将透明度设置为 0.8，点击时将透明度设置为1.0
$successColor: #4AA45D; // 成功色
$warningColor: #F6C042; // 警告色
$failedColor: #DF4F3F; // 失败色
$disabledColor: #F5F5F5; // 禁用色
// 常用颜色
$redColor: #FF5722; // 红色
$orangeColor: #FFB800; // 橘黄色
$greenColor: #009688; // 绿色
$cyanColor: #2F4056; // 青色
$blueColor: #1E9FFF; // 蓝色
$blackColor: #393D49; // 黑色
$grayColor: #EEEEEE; // 灰色
// 文字
$firstFontColor: #2A2A2A; // 主要文字颜色
$fontColor: #4E4E4E; // 常规文字颜色
$secondFontColor: #6C6C6C; // 次要文字颜色
$thirdFontColor: #A6A6A6; // 占位文字颜色
$backgroundFontColor: #FFFFFF; // 主题色背景的文字颜色
$aFontColor: #188FFF; // 链接文字颜色
$aHoverFontColor: #40A9FF; // 链接文字悬浮颜色
// 边框
$borderColor: #D3D3D3; // 常规边框颜色
// 辅助按钮
$aidBackgroundColor: #FFFFFF; // 辅助按钮背景颜色
$aidHoverBackgroundColor: #FFFFFF; // 辅助按钮悬浮背景颜色
$aidActiveBackgroundColor: #FFFFFF; // 辅助按钮点击背景颜色
$aidBorderColor: #A6A6A6; // 辅助按钮边框颜色
$aidFontColor: #6C6C6C; // 辅助按钮文字颜色
$aidHoverFontColor: #40A9FF; // 辅助按钮悬浮文字颜色
$aidActiveFontColor: #096DD9; // 辅助按钮点击文字颜色
// 禁用按钮
$disabledBackgroundColor: #F5F5F5; // 禁用按钮背景颜色
$disabledBorderColor: #A6A6A6; // 禁用按钮边框颜色
$disabledFontColor: #A6A6A6; // 禁用按钮文字颜色
// 输入框
$inputBackgroundColor: #F3F8FC; // 输入框背景色
$inputBorderColor: #E0E0E0; // 输入框边框颜色
$inputBorderHoverColor: #40A9FF; // 输入框悬浮边框颜色
$inputBorderFocusColor: #188FFF; // 输入框焦点边框颜色
$inputFontColor: #4E4E4E; // 输入框文字颜色
$selectHoverBackground: #E6F7FF; // Select 选择框下拉选中背景颜色
$selectBackground: #F3F8FC; // 下拉框的背景颜色
$checkboxInitBackground: #D2D2D2; // checkbox、单选框未选中的背景颜色
// 表格
$tableBorderColor: #D3D3D3; // 表格边框颜色
$tableBackgroundColor: #FFFFFF; // 表格背景颜色
$tableThColor: #ECF9FF; // 表格中表头的背景颜色
$tableThFontColor: #226596; // 表格中表头的文字颜色
$tableTrColor: #F9F9F9; // 表格中隔行显示的背景颜色
$tableHoverColor: #E6F7FF; // 表格中行选中时的背景颜色
// 进度条
$progressNotDone: #E2E2E2; // 进度条未进行时的颜色
// 日期与时间选择
$timeNow: #FDE19A; // 鼠标选择其他时间时，当前时间的颜色
// 弹层
$layerTitleBackgroundColor: #ECF9FF; // 弹层标题背景颜色
$maskBackgroundColor: rgba(0, 0, 0, 0.22); // 遮罩层颜色
/*
 * 富文本编辑器
 *
 * 编辑器图标ICON（通过替换文件改变图标）
 * 默认蓝色主题
 * 绿色主题； icon: green.png, hover: green_hover.png, active: green_active.png
 * 暗色主题： icon: black.png, hover: default_hover.png, active: default_active.png
*/

$editIcon: url('default.png');
$editHover: url('default_hover.png');
$editActive: url('default_active.png');