@charset "utf-8";
@import '../style.scss';

/*
  按钮 
*/

//基本樣式
.layui-btn{display: inline-block; vertical-align: middle; height: 40px; line-height: 38px; padding: 0 16px; background-color: $baseColor; color: $backgroundFontColor; white-space: nowrap; text-align: center; font-size: 14px; border: none; border-radius: 2px; cursor: pointer; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none;}
.layui-btn:hover{opacity: 0.8; filter:alpha(opacity=80); color: #fff;}
.layui-btn:active{opacity: 1; filter:alpha(opacity=100);}
.layui-btn+.layui-btn{margin-left: 10px;}

/* 按钮容器 */
.layui-btn-container{font-size: 0;}
.layui-btn-container .layui-btn{margin-right: 10px; margin-bottom: 10px;}
.layui-btn-container .layui-btn+.layui-btn{margin-left: 0;}
.layui-table .layui-btn-container .layui-btn{margin-bottom: 9px;}


/* 圆角 */.layui-btn-radius{border-radius: 100px;}
.layui-btn .layui-icon{margin-right: 3px; font-size: 18px; vertical-align: bottom; vertical-align: middle\0;}

/* 原始 */.layui-btn-primary{border: 1px solid $borderColor; background-color: $containerBackgroundColor; color: $fontColor;}
.layui-btn-primary:hover{border-color: $hoverColor; color: $fontColor}
/* 百搭 */.layui-btn-normal{background-color: $baseColor;}
/* 暖色 */.layui-btn-warm{background-color: $warningColor;}
/* 警告 */.layui-btn-danger{background-color: $failedColor;}
/* 禁用 */.layui-btn-disabled,.layui-btn-disabled:hover,.layui-btn-disabled:active{border: 1px solid $disabledBorderColor;box-shadow: none; background-color: $disabledBackgroundColor; color: $disabledFontColor; cursor: not-allowed; opacity: 1;}

/* 大型 */.layui-btn-lg{height: 46px; line-height: 44px; padding: 0 25px; font-size: 16px;}
/* 小型 */.layui-btn-sm{height: 30px; line-height: 30px; padding: 0 10px; font-size: 12px;}
.layui-btn-sm i{font-size: 16px !important;}
/* 超小 */.layui-btn-xs{height: 22px; line-height: 22px; padding: 0 5px; font-size: 12px;}
.layui-btn-xs i{font-size: 14px !important;}
/* 按钮组 */.layui-btn-group{display: inline-block; vertical-align: middle; font-size: 0;}
// .layui-btn-group .layui-btn{margin-left: 0px!important; border-left: 1px solid rgba(255, 255, 255, .5);margin-right: 0!important; border-radius: 0;}
.layui-btn-group .layui-btn{margin-left: 1px!important;margin-right: 0!important; border-radius: 0;}
.layui-btn-group .layui-btn-primary{border-left: none;}
.layui-btn-group .layui-btn-primary:hover{border-color: $borderColor; color: $fontColor;}
.layui-btn-group .layui-btn:first-child{border-left: none; border-radius: 2px 0 0 2px;}
.layui-btn-group .layui-btn-primary:first-child{border-left: 1px solid $borderColor;}
.layui-btn-group .layui-btn:last-child{border-radius: 0 2px 2px 0;}
.layui-btn-group .layui-btn+.layui-btn{margin-left: 0;}
.layui-btn-group+.layui-btn-group{margin-left: 10px;}
/* 流体 */.layui-btn-fluid{width: 100%;}



/*该页面样式*/
.btnBigDiv{
    margin: 100px 100px;
}
.btnDiv{
    height: 60px;
}
.btnDiv span{
    display: block;
    float: left;
    vertical-align: middle;
    font-size: 16px;
    text-align: right;
    height: 40px;
    line-height: 40px;
    width: 70px;
    margin-right: 32px;
    color:$fontColor;
}
/*部分样式覆盖*/
/*各主题通用样式*/
/*关于按钮*/
.layui-btn{
    border-radius: 2px;
    outline: none;
}

/*成功按钮*/
.layui-btn-success{
    background-color: $successColor;
}
/*警告按钮*/
.layui-btn-danger{
    background-color: $warningColor;
}
/*失败按钮*/
.layui-btn-fail{
    background-color: $failedColor;
}
/*禁用按钮*/
.layui-btn-disabled{
    background-color: $disabledBackgroundColor;
    color:$disabledFontColor;
}

/*圆角*/
.layui-btn-radius {
    border-radius: 100px
}
/*主题颜色*/
/*原始按钮*/
.layui-btn-primary:hover{
    border-color: $hoverColor;
    color:  $hoverColor;
}
/*默认按钮*/
.layui-btn-normal {
    background-color: $baseColor;
}
/*默认按钮鼠标悬停*/
.layui-btn-normal:hover{
    background-color: $hoverColor;
}
/*默认按钮点击*/
.layui-btn-normal:active{
    background-color: $activeColor;
}

/*鼠标点击按钮边框*/
.layui-btn:active{
    box-shadow:  0px 0px 1px 0.2px $activeColor;
}
// 小型按钮组样式
.layui-btn-group .layui-btn-primary:hover {
    border-color: $hoverColor;
    color:  $hoverColor;
}