@charset "utf-8";
@import '../style.scss';

.layui-input-none {
    border: none;
    background-color: $containerBackgroundColor;
}

.layui-form-label {
    width: 180px;
    padding-right: 40px;
    font-weight: 600;
    box-sizing: border-box;
}

.layui-form-label2 {
    padding-left: 50px;
    font-weight: 500;
}

/* .layui-border-box,
.layui-border-box * {
    box-sizing: border-box;
    width: 100%;
} */

.layui-table {
    width: 100% !important;
}

.layui-textarea {
    min-height: 80px;
}

.label-textarea {
    line-height: 80px;
}

.all-height {
    height: 592px;
    overflow: auto;
    background-color: $containerBackgroundColor;
}

.removeSelect>div{
    padding: 5px;
}

.layui-layer-page .layui-layer-content {
    background-color: $backgroundColor;
}

.layui-layer-btn-c {
    background-color: $backgroundColor;
    text-align: right;
}

.tree-top{
    border-bottom:1px solid $borderColor;
}

.tree-top img{
    width: 25px;
    margin-bottom: 5px;
}

.layui-form-text {
    float: left;
    line-height: 38px;
}

.layui-form-item {
    margin-bottom: 0;
}

.layui-layer-page .layui-layer-btn {
    padding-right: 40px;
}